[submodule "submodules/discord-rpc"]
	path = submodules/discord-rpc
	url = https://github.com/EclipseMenu/discord-presence.git
[submodule "submodules/SDL3_image"]
	path = submodules/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "submodules/SDL3"]
	path = submodules/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "submodules/glaze"]
	path = submodules/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "submodules/cpr"]
	path = submodules/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "submodules/SDL3_ttf"]
	path = submodules/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "submodules/usb"]
	path = submodules/usb
	url = https://github.com/libusb/libusb-cmake.git
[submodule "submodules/brotli"]
	path = submodules/brotli
	url = https://github.com/google/brotli.git
[submodule "submodules/android_openssl"]
	path = submodules/android_openssl
	url = https://github.com/KDAB/android_openssl.git
