[submodule "vendor/raylib-cpp"]
	path = vendor/raylib-cpp
	url = https://github.com/robloach/raylib-cpp
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/CImg"]
	path = vendor/CImg
	url = https://github.com/GreycLab/CImg
